body{
    text-align: center;
    margin: 0;
    background-image: url(plants.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: floralwhite;
}
.top{
    position: relative;
    /* top: 70px; */
    background-color: #00bcd4;
    height: 600px;
}
.mid{
    margin: 0;
    height: 60vh;
    position: relative;
    top: 0px;
   background-color: white;
}
.h{
    position: relative;
    top: 20px;
    margin-top: 0px;
    height: 170px;
    width: 170px;
    /* box-shadow: 0px 0px 20px black; */
}
.i{
    position: relative;
top: 20px;
left: 370px;
background-color: white;
height: fit-content;
width: fit-content;
padding: 5px 30px;
color: black;
border:3px solid black;
border-radius: 12px;
}
.w{
    position: relative;
    top: 30px;
}
.e{
    position: relative;
    top: 60px;
    left: 550px;
    height: fit-content;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 12px;
    border: 3px solid black;
    color: black;
    background-color: beige;
}
.b{
    color: #21bf73;
    background-color: black;
    position: relative;
    top: 80px;
right: 30px;
border: 3px solid black;
padding: 10px 20px;
border-radius: 20px;
    display: inline-block;
    transition-property: ;
    transition-duration: ;
}


.b:hover{
    background-color: green;
    color: black;
}


.s{
    color: #21bf73;
    border: 3px solid black;
    background-color: black;
    position: relative;
    top: 80px;
    left: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    
}

.s:hover{
    background-color:green;
    color: black;
}


.location{
    position: relative;
    top: 100px;
    right: 165px;
     height: 120px; 
    width: 120px;
}
.team{
    position: relative;
    top: 110px;
left: 50px;
height: 120px;
width: 120px;
}
.feed{
    top: 100px;
    position: relative;
    left: 320px;
    height: 120px;
    width: 120px;
}

.query{
    top: 100px;
    position: relative;
     left: 590px; 
    height: 120px;
    width: 120px;
}
.x{
    color: black;
    position: relative;
    top: 130px;
    right: 658px;
    display: inline-block;
}
.y{
    color: black;
    position: relative;
    top: 130px;
    right: 417px;
    display: inline-block;
}
.z{
    color: black;
    position: relative;
    top: 130px;
    right: 130px;
    display: inline-block;
}
.g{ color: black;
    position: relative;
    top: 130px;
    left: 100px;
    display: inline-block;
}
.hr{
    /* margin-bottom: 70px; */
     border-style: dotted none none;
    border-width: 10px;
    color: black;
    height: 0;
    width: 10%;
    position: relative;
    top: 240px;
}
.hello{
    color: black;
    position: relative; 
    top: 260px;
     left: 1200px; 
     height: fit-content;
     width: fit-content;
}
